:root {
  --white: #ffffff;
  --burntsienna: #f06a4d;
  --milanored: #b42404;
  --melrose: #b89eff;
  --heliotrope: #9873ff;
  --electricviolet: #8052ff;
  --wildsand: #f5f5f5;
  --athensgray: #f4f3f6;
  --mischka: #e7e5eb;
  --graysuit: #c8c5d1;
  --graysuit-rgb: 200, 197, 209;
  --silverchalice: #b0b0b0;
  --mineshaft: #333333;
  --mineshaft-rgb: 51, 51, 51;
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.woff);
  src: url(../fonts/OpenSans-Light.woff2);
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-SemiBold.woff);
  src: url(../fonts/OpenSans-SemiBold.woff2);
}

@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.woff2);
}

@font-face {
  font-family: 'opensans';
  font-style: italic;
  src: url(../fonts/OpenSans-Italic.woff);
  src: url(../fonts/OpenSans-Italic.woff2);
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  background-color: var(--wildsand);
  color: var(--mineshaft);
  font-family: 'opensans', 'sans-serif';
}

img {
  max-width: 100%;
}

a {
  color: var(--mineshaft);
}

button {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

li {
  list-style-type: none;
}

input {
  line-height: 19px;
}

input:focus,
input:valid {
  outline: transparent;
}

th {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--silverchalice);
  text-align: left;
  cursor: pointer;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background-color: var(--white);
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  margin-bottom: 40px;
}

.header__wrapper {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.header__logo {
  margin-right: 53px;
}

.header-search__input {
  padding-left: 16px;
  width: 45%;
  height: 42px;
  outline: transparent;
  border: 1px solid rgba(var(--mineshaft-rgb), 0.2);
}

.header-search__input::placeholder {
  color: var(--silverchalice);
}

.header-search-result {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background: var(--white);
  width: 44.2%;
  top: 66px;
  left: 104px;
  box-shadow: 4px 4px 6px -1px var(--silverchalice),
    -4px 4px 6px -1px var(--silverchalice);
  z-index: 1;
}

.header-search-result.is-active {
  display: flex;
}

.header-search-result__link {
  padding: 10px;
  color: var(--mineshaft);
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: color 0.2s ease-in-out;
}

.header-search-result__link:hover,
.header-search-result__link:focus-visible {
  color: var(--melrose);
}

.header-search-result__link:active {
  color: var(--electricviolet);
}

.sublight {
  box-shadow: inset 0 0 10px var(--melrose);
}

.header-btn-delete {
  display: none;
  width: 3%;
  background: url(../img/delete-input.svg) no-repeat center;
  outline: transparent;
  height: 46px;
  border: 1px solid var(--graysuit);
  background-color: var(--athensgray);
}

.header-btn-delete.is-active {
  display: block;
}

.clients {
}

.clients__title {
  margin-bottom: 26px;
}

.clients__wrapper {
  max-width: 1186px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.table {
}

.clients__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 2px;
}

.table__head {
}

.table-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--silverchalice);
  text-align: left;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  transition: color 0.2s ease-in-out;
}

.table-header__title {
  vertical-align: middle;
}

.table-header__icon {
  width: 12px;
  height: 12px;
  display: inline-flex;
  vertical-align: middle;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  transition: transform 0.2s linear;
}

.table-header.is-active .table-header__icon {
  transform: rotate(180deg);
}

.clients-id {
  padding-left: 20px;
}

.clients-id__icon {
  background-image: url(../img/arrow-up.svg);
}

.clients-id__icon.is-active {
  transform: rotate(30deg);
}

.clients-fullname {
  position: relative;
}

.clients-fullname::after {
  content: '';
  position: absolute;
  background: url(../img/letters.svg) no-repeat center;
  width: 17px;
  height: 16px;
  color: var(--heliotrope);
  white-space: nowrap;
  transition: background-image 0.2s linear;
}

.table-header.is-active.clients-fullname::after {
  content: '';
  background: url(../img/letters-reversed.svg) no-repeat center;
}

.clients-fullname__title {
}

.table-header:hover,
.table-header:focus-visible {
  color: var(--heliotrope);
}

.table-header:active {
  color: var(--electricviolet);
}

.clients-fullname__icon {
}

.clients-inner-fullname__text {
  font-weight: 400;
  text-align: start;
  min-width: 185px;
  border: 0;
  padding: 0;
  margin-right: 25px;
  background-color: inherit;
  outline: none;
  transition: color 0.2s ease-in-out;
}

.clients-inner-fullname__text:hover,
.clients-inner-fullname__text:focus-visible {
  color: var(--melrose);
}

.clients-inner-fullname__text:active {
  color: var(--electricviolet);
}

.clients-creation-date {
}

.clients-creation-date__title {
}

.clients-creation-date__icon {
}

.clients-last-change {
}

.clients-last-change__title,
.clients-creation-date__title {
  margin-right: 2px;
}

.clients-last-change__title br,
.clients-creation-date__title br {
  display: none;
}

.clients-last-change__icon {
}

.clients-contacts {
  padding-left: 3.5px;
}

.table-header.clients-contacts,
.table-header.clients-change,
.table-header.clients-delete {
  color: var(--silverchalice);
}

.clients-change {
}

.clients-delete {
}

.clients-contacts,
.clients-change,
.clients-delete {
  cursor: auto;
}

.table__body {
  position: relative;
  background-color: var(--white);
}

.clients-inner-id__text {
  color: var(--silverchalice);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 22px 20px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
}

.preloader__icon {
  width: 80px;
  height: 80px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80' fill='none'%3E%3Cpath d='M4.00025 40.0005C4.00025 59.8825 20.1182 76.0005 40.0002 76.0005C59.8822 76.0005 76.0002 59.8825 76.0002 40.0005C76.0002 20.1185 59.8823 4.00049 40.0003 4.00049C35.3513 4.00048 30.9082 4.88148 26.8282 6.48648' stroke='%239873FF' stroke-width='8' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
  animation: whirling-circle 2s infinite linear;
  z-index: 1;
}

.clients-add__icon {
  margin-right: 10px;
}

.clients-add__btn {
  width: 216px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  outline: transparent;
  color: var(--heliotrope);
  border: 1px solid var(--heliotrope);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.clients-add__btn.is-active {
  display: none;
}

.clients-add__btn:hover {
  color: var(--white);
  background-color: var(--melrose);
  border: transparent;
}

.clients-add__btn path {
  fill: var(--heliotrope);
  transition: fill 0.2s ease-in-out;
}

.clients-add__btn:hover path {
  fill: var(--white);
}

.clients-add__btn:focus,
.clients-add__btn:active {
  color: var(--white);
  background-color: var(--electricviolet);
  border: transparent;
}

.modals.is-active {
  position: fixed;
  inset: 0;
  background-color: rgba(var(--mineshaft-rgb), 0.7);
  transition: background-color 0.2s linear;
}

.clients-change__icon {
  background: url(../img/pen.svg) no-repeat;
  background-size: contain;
  height: 14px;
  width: 14px;
  margin-right: 2px;
}

.clients-delete__icon {
  background: url(../img/delete.svg) no-repeat;
  background-size: contain;
  height: 14px;
  width: 14px;
  margin-right: 2px;
  cursor: pointer;
}

.clients-inner-actions__wrap {
  display: flex;
  justify-content: space-between;
}

.clients-action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: var(--white);
  cursor: pointer;
}

.clients-change__btn,
.clients-delete__btn {
  display: block;
  font-weight: 400;
  margin-right: auto;
  outline: none;
  border: none;
  padding: 0;
  background-color: var(--white);
  transition: color 0.2s ease-in-out;
}

.clients-change__btn:hover,
.clients-change__btn:focus-visible {
  color: var(--heliotrope);
}

.clients-delete__btn:hover,
.clients-delete__btn:focus-visible {
  color: var(--burntsienna);
}

.clients-inner-date__wrap {
  display: flex;
  margin-right: 25px;
}

.clients-inner-date__text {
  color: var(--mineshaft);
  margin-right: 10px;
}

.clients-inner-time__text {
  color: var(--silverchalice);
}

.valid {
  display: none;
  color: var(--burntsienna);
  text-align: center;
}
.clients-inner-allcontacts {
  margin-right: 25px;
}
.clients-inner-contacts__wrap {
  display: flex;
  align-items: center;
  margin: 0 auto;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.clients-inner-contact {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 3.5px;
  padding: 0;
  border: none;
  background: none;
}

.clients-inner-contact__icon {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.7;
  cursor: pointer;
  outline: none;
  border: none;
  transition: opacity 0.2s ease-in-out;
}

.clients-inner-contact__icon:hover,
.clients-inner-contact__icon:focus-visible {
  opacity: 1;
}

.vk {
  background: url(../img/vk.svg) no-repeat;
}

.fb {
  background: url(../img/fb.svg) no-repeat;
}

.phone {
  background: url(../img/phone.svg) no-repeat;
}

.mail {
  background: url(../img/mail.svg) no-repeat;
}

.other {
  background: url(../img/other.svg) no-repeat;
}

.fullcontacts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 8px;
  border: 2px solid var(--heliotrope);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  order: 6;
  font-size: 8px;
  color: var(--heliotrope);
  order: 10;
  margin: 3.5px;
  padding: 0;
}

.tooltip,
.tooltip-modal {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  justify-content: space-around;
  background-color: var(--mineshaft);
  color: var(--white);
  min-width: 133px;
  bottom: 30px;
  left: -65px;
  padding: 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out, visivility 0.2s ease-in-out;
  z-index: 3;
}

.tooltip-modal {
  left: -135px;
  bottom: 20px;
}

.tooltip:before {
  content: '';
  position: absolute;
  left: 68px;
  bottom: -13px;
  border: 5px solid transparent;
  border-top: 10px solid var(--mineshaft);
}

.tooltip-modal:before {
  content: '';
  position: absolute;
  left: 133px;
  bottom: -14px;
  border: 5px solid transparent;
  border-top: 10px solid var(--mineshaft);
}

.tooltip.is-active,
.tooltip-modal.is-active {
  opacity: 1;
  visibility: visible;
}

.tooltip__descr {
  margin-right: 3px;
}

.tooltip__link {
  margin-left: 3px;
  color: var(--heliotrope);
  outline: none;
  transition: color 0.2s ease-in-out;
}

.tooltip__link:hover,
.tooltip__link:focus-visible {
  color: var(--melrose);
}

.modal-input__wrap {
  position: relative;
  margin: 0 30px 30px 30px;
  border-bottom: 1px solid rgba(var(--graysuit-rgb), 0.5);
}

.modal-input-surname.invalid,
.modal-input-name.invalid,
.modal-input-middlename.invalid {
  border-bottom: 1px solid var(--burntsienna);
}

.modal-input-middlename.is-active {
  display: none;
}

.surname,
.name,
.middlename {
  border: transparent;
}

.star {
  color: var(--heliotrope);
}

.middlename:valid + .modal-input__label,
.middlename:focus + .modal-input__label,
.surname:valid + .modal-input__label,
.surname:focus + .modal-input__label,
.surname:valid + .modal-input__label:read-only,
.surname:focus + .modal-input__label:read-only,
.name:valid + .modal-input__label,
.name:focus + .modal-input__label {
  font-size: 10px;
  line-height: 14px;
  top: -12px;
}

.modal-input__label {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -6px;
  color: var(--silverchalice);
  cursor: auto;
  transition: top 0.2s ease-in-out;
}

.is-static-label {
  font-size: 10px;
  line-height: 14px;
  top: -12px;
}

.is-static-label > .star {
  display: none;
}

.client-card-contact__wrap {
  display: flex;
}

.client-card-contact__wrap.is-active {
  display: flex;
  border: 1px solid var(--silverchalice);
}

.client-card-contact__descr {
  margin: 5px 0;
  padding: 10px;
  width: 20%;
  border: 1px solid var(--graysuit);
}

.client-card-contact__input {
  margin: 5px 0;
  padding: 12px;
  width: 70%;
  border-top: 1px solid var(--graysuit);
  border-right: 1px solid var(--graysuit);
  border-bottom: 1px solid var(--graysuit);
  background-color: var(--white);
}

.modal-close__btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 21px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.modal-close__btn::before,
.modal-close__btn::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0px;
  border-bottom: 2px solid var(--graysuit);
  transform: rotate(45deg);
  transition: border-color 0.2s linear;
}

.modal-close__btn::after {
  transform: rotate(-45deg);
}

.modal-close__btn:hover::before,
.modal-close__btn:hover::after,
.modal-close__btn:focus-visible::before,
.modal-close__btn:focus-visible::after {
  border-color: var(--burntsienna);
}

.modal-close__btn:active::before,
.modal-close__btn:active::after {
  border-color: var(--milanored);
}

.newclient-modal-save__btn,
.changeclient-modal-save__btn,
.deleteclient-modal-delete__btn {
  display: none;
  margin: 0 auto;
  margin-bottom: 5px;
  border: transparent;
  outline: 3px solid transparent;
  padding: 12.5px 35px;
  color: var(--white);
  background-color: var(--heliotrope);
  transition: background-color 0.2s ease-in-out;
}

.newclient-modal-save__btn:hover,
.changeclient-modal-save__btn:hover,
.deleteclient-modal-delete__btn:hover {
  background-color: var(--melrose);
}

.newclient-modal-save__btn:active,
.changeclient-modal-save__btn:active,
.deleteclient-modal-delete__btn:active,
.newclient-modal-save__btn:focus-visible,
.changeclient-modal-save__btn:focus-visible,
.deleteclient-modal-delete__btn:focus-visible {
  background-color: var(--electricviolet);
}

.changeclient-modal-save__btn:disabled,
.newclient-modal-save__btn:disabled {
  background-color: var(--graysuit);
  cursor: auto;
}

.deleteclient-modal-cancel__btn,
.newclient-modal-delete__btn {
  display: none;
  margin: 0 auto;
  outline: transparent;
  border: transparent;
  background-color: var(--white);
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
  transition: color 0.2s ease-in-out;
}

.deleteclient-modal-cancel__btn:hover,
.deleteclient-modal-cancel__btn:focus-visible,
.newclient-modal-delete__btn:hover,
.newclient-modal-delete__btn:focus-visible {
  color: var(--burntsienna);
}

.deleteclient-modal-cancel__btn:active,
.newclient-modal-delete__btn:active {
  color: var(--milanored);
}

.deleteclient-modal-cancel__btn.is-active,
.newclient-modal-delete__btn.is-active,
.newclient-modal-save__btn.is-active,
.changeclient-modal-save__btn.is-active {
  display: block;
}

.newclient-modal-add__btn {
  display: none;
  outline: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px 0;
  outline: transparent;
  border: transparent;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
}

.newclient-modal-add__btn.is-active {
  display: flex;
}

.newclient-modal-add__btn:hover,
.newclient-modal-add__btn:focus-visible {
  color: var(--heliotrope);
}

.newclient-modal-add__icon {
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M6.99998 3.66683C6.63331 3.66683 6.33331 3.96683 6.33331 4.3335V6.3335H4.33331C3.96665 6.3335 3.66665 6.6335 3.66665 7.00016C3.66665 7.36683 3.96665 7.66683 4.33331 7.66683H6.33331V9.66683C6.33331 10.0335 6.63331 10.3335 6.99998 10.3335C7.36665 10.3335 7.66665 10.0335 7.66665 9.66683V7.66683H9.66665C10.0333 7.66683 10.3333 7.36683 10.3333 7.00016C10.3333 6.6335 10.0333 6.3335 9.66665 6.3335H7.66665V4.3335C7.66665 3.96683 7.36665 3.66683 6.99998 3.66683ZM6.99998 0.333496C3.31998 0.333496 0.333313 3.32016 0.333313 7.00016C0.333313 10.6802 3.31998 13.6668 6.99998 13.6668C10.68 13.6668 13.6666 10.6802 13.6666 7.00016C13.6666 3.32016 10.68 0.333496 6.99998 0.333496ZM6.99998 12.3335C4.05998 12.3335 1.66665 9.94016 1.66665 7.00016C1.66665 4.06016 4.05998 1.66683 6.99998 1.66683C9.93998 1.66683 12.3333 4.06016 12.3333 7.00016C12.3333 9.94016 9.93998 12.3335 6.99998 12.3335Z' fill='%239873FF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  margin-right: 5px;
  transition: background-image 0.2s ease-in-out;
}

.newclient-modal-add__btn:hover .newclient-modal-add__icon,
.newclient-modal-add__btn:focus-visible .newclient-modal-add__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.333313 7.00016C0.333313 3.32016 3.31998 0.333496 6.99998 0.333496C10.68 0.333496 13.6666 3.32016 13.6666 7.00016C13.6666 10.6802 10.68 13.6668 6.99998 13.6668C3.31998 13.6668 0.333313 10.6802 0.333313 7.00016ZM6.33329 4.33366C6.33329 3.96699 6.63329 3.66699 6.99996 3.66699C7.36663 3.66699 7.66663 3.96699 7.66663 4.33366V6.33366H9.66663C10.0333 6.33366 10.3333 6.63366 10.3333 7.00033C10.3333 7.36699 10.0333 7.66699 9.66663 7.66699H7.66663V9.66699C7.66663 10.0337 7.36663 10.3337 6.99996 10.3337C6.63329 10.3337 6.33329 10.0337 6.33329 9.66699V7.66699H4.33329C3.96663 7.66699 3.66663 7.36699 3.66663 7.00033C3.66663 6.63366 3.96663 6.33366 4.33329 6.33366H6.33329V4.33366Z' fill='%239873FF'/%3E%3C/svg%3E");
}

.delete-client-wrapper {
  text-align: center;
}

.delete-client-text {
  padding: 11px 88px 0 88px;
}

.newclient-modal__title {
  margin-right: 9px;
}

.client-modal-id__subtitle {
  display: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--silverchalice);
  padding-top: 2px;
  white-space: nowrap;
}

.client-modal-id__subtitle.is-active {
  display: inline;
}

.client-card-id__subtitle {
  display: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 2px;
  color: var(--silverchalice);
}

.client-card-id__subtitle.is-active {
  display: inline;
}

.newclient-modal-title__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-left: 30px;
}

.newclient-modal__form {
}

.modal {
  position: relative;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-height: 100vh;
  max-width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: opacity 0.5s ease-in-out;
  background-color: var(--white);
  padding: 30px 0;
  box-shadow: 0px 0px 35px rgb(0 0 0 / 15%);
}

.modal.is-active {
  opacity: 1;
  visibility: visible;
}

.errors.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 600px;
  max-width: 90%;
  height: 192px;
  color: var(--burntsienna);
  text-align: center;
  padding: 50px 0;
  z-index: 4;
}

.errors__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.errors__descr {
  width: 85%;
  font-size: 18px;
  line-height: 1.45;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--mineshaft-rgb), 0.7);
  filter: blur(2px);
  z-index: 2;
}

.overlay.is-active {
  opacity: 1;
  visibility: visible;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.deleteclient-modal__title,
.deleteclient-modal__descr {
  max-width: 275px;
  text-align: center;
  margin: 0 auto;
}

.deleteclient-modal__title {
  margin-bottom: 11px;
}

.deleteclient-modal__descr {
  margin-bottom: 25px;
}

.deleteclient-modal-delete__btn {
  display: block;
}

.client-modal-validation {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  min-height: 9px;
  color: var(--burntsienna);
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  padding: 8px;
}

.client-modal-validation.is-active {
  opacity: 1;
  visibility: visible;
}

.add-new-clients {
  display: none;
  margin: 30px;
  width: 87%;
}

.add-new-clients.is-active {
  display: flex;
}

.newclient-modal-contacts__wrap {
  background-color: var(--wildsand);
  transition: padding 0.2s ease-in-out;
}

.newclient-modal-contacts {
  position: relative;
}

.newclient-modal-contact__wrap {
  position: relative;
  display: flex;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.newclient-modal-contacts__wrap.is-active {
  padding: 17.5px 25px 15px;
}

.newclient-modal-contacts.is-active {
  display: none;
}

.newclient-modal-contacts.overflow {
  height: 265px;
  overflow-x: hidden;
}

.newclient-modal-contact__select {
  display: block;
  position: relative;
  width: 32%;
  height: 37px;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
}

.newclient-modal-contact__select.modal-close__btn {
  display: none;
}

.newclient-modal-contact__descr {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  background-color: var(--athensgray);
  border: 1px solid var(--graysuit);
  border-bottom: 0;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.newclient-modal-contact__descr:hover,
.newclient-modal-contact__descr:focus-visible {
  background-color: var(--mischka);
}

.newclient-modal-contact__icon::after {
  content: '';
  position: absolute;
  top: 13px;
  right: 8px;
  width: 10px;
  height: 10px;
  background: url(../img/contact-arrow.svg) no-repeat center;
  transition: transform 0.2s linear;
}

.newclient-modal-contact__select.is-active
  .newclient-modal-contact__icon::after {
  transform: rotateX(180deg);
}

.newclient-modal-contact__select.is-active .modal__option {
  max-height: 37px;
  border-bottom-width: 1px;
}

.newclient-modal-contact__select.is-active {
  z-index: 2;
}

.newclient-modal-contact__select.is-active > .newclient-contact-option__wrap {
  border-bottom: 1px solid var(--graysuit);
}

.newclient-contact-option__wrap {
  border: 1px solid var(--graysuit);
  border-bottom: 0;
}

.newclient-modal-contact__input {
  display: flex;
  width: 68%;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 12px;
  margin: 0 auto;
  border: 1px solid var(--graysuit);
  border-right: 0;
  border-left: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
  outline: transparent;
}

.newclient-modal-contact-delete__btn {
  width: 7%;
  background: url(../img/delete-input.svg) no-repeat center;
  background-color: var(--athensgray);
  outline: transparent;
  border: 1px solid var(--graysuit);
  transition: background-image 0.2s ease-in-out, border 0.2s ease-in-out;
}

.newclient-modal-contact-delete__btn:hover,
.newclient-modal-contact-delete__btn:focus-visible {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M6 0C2.682 0 0 2.682 0 6C0 9.318 2.682 12 6 12C9.318 12 12 9.318 12 6C12 2.682 9.318 0 6 0ZM6 10.8C3.354 10.8 1.2 8.646 1.2 6C1.2 3.354 3.354 1.2 6 1.2C8.646 1.2 10.8 3.354 10.8 6C10.8 8.646 8.646 10.8 6 10.8ZM8.154 3L6 5.154L3.846 3L3 3.846L5.154 6L3 8.154L3.846 9L6 6.846L8.154 9L9 8.154L6.846 6L9 3.846L8.154 3Z' fill='%23F06A4D'/%3E%3C/svg%3E");
  border: 1px solid var(--burntsienna);
}

.newclient-modal-contact-delete__btn:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M6 0C2.682 0 0 2.682 0 6C0 9.318 2.682 12 6 12C9.318 12 12 9.318 12 6C12 2.682 9.318 0 6 0ZM6 10.8C3.354 10.8 1.2 8.646 1.2 6C1.2 3.354 3.354 1.2 6 1.2C8.646 1.2 10.8 3.354 10.8 6C10.8 8.646 8.646 10.8 6 10.8ZM8.154 3L6 5.154L3.846 3L3 3.846L5.154 6L3 8.154L3.846 9L6 6.846L8.154 9L9 8.154L6.846 6L9 3.846L8.154 3Z' fill='%23b42404'/%3E%3C/svg%3E");
  border-color: var(--milanored);
}

.contact-input {
  display: none;
  background: var(--athensgray);
}

.contact-input:checked + label {
  background-color: var(--mischka);
}

.modal__option {
  display: flex;
  align-items: center;
  height: 37px;
  max-height: 0;
  padding-left: 12px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: var(--athensgray);
  transition: background-color 0.2s ease-in-out, max-height 0.2s ease-in-out;
}

.modal__option:hover,
.modal__option:focus-visible {
  background-color: var(--mischka);
}

.hidden {
  display: none;
}

.modal__option + input + .modal__option {
  border-top: 0 solid var(--graysuit) 60;
}

::placeholder {
  color: var(--silverchalice);
}

.changeclient-surname {
  font-size: 14px;
  color: var(--mineshaft);
}

.clients-action-buttons:focus .clients-change__icon,
.clients-action-buttons:active .clients-change__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M1.00008 6.04008C1.00008 8.82356 3.2566 11.0801 6.04008 11.0801C8.82356 11.0801 11.0801 8.82356 11.0801 6.04008C11.0801 3.2566 8.82356 1.00008 6.04008 1.00008C5.38922 1.00008 4.7672 1.12342 4.196 1.34812' stroke='%239873FF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
  width: 13px;
  height: 13px;
  animation: whirling-circle 1s infinite linear;
}

.clients-action-buttons:focus .clients-delete__icon,
.clients-action-buttons:active .clients-delete__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M1.00008 6.04008C1.00008 8.82356 3.2566 11.0801 6.04008 11.0801C8.82356 11.0801 11.0801 8.82356 11.0801 6.04008C11.0801 3.2566 8.82356 1.00008 6.04008 1.00008C5.38922 1.00008 4.7672 1.12342 4.196 1.34812' stroke='%23f06a4d%0A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
  width: 13px;
  height: 13px;
  animation: whirling-circle 1s infinite linear;
}

@keyframes whirling-circle {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .clients__wrapper {
    max-width: 984px;
  }

  .clients-last-change__title br,
  .clients-creation-date__title br {
    display: inline;
  }
}

@media (max-width: 992px) {
  .clients__table {
    margin: 26px 0 0 0;
  }

  .header-search__input {
    width: 85%;
  }

  .header-search-result {
    width: 83.7%;
  }

  .clients-inner-id__text,
  .clients-id {
    padding-right: 15px;
    padding-left: 15px;
  }

  .clients-inner-fullname__text {
    margin-right: 15px;
  }

  .clients-inner-date__text {
    margin-bottom: 4px;
  }

  .clients-inner-allcontacts {
    margin-right: 15px;
  }

  .clients-inner-date__wrap,
  .clients-inner-actions__wrap {
    flex-wrap: wrap;
    margin-right: 15px;
  }

  .clients-action-buttons {
    margin-right: 0;
    padding: 2.5px 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 728px;
  }

  .clients__wrapper {
    overflow-x: scroll;
  }

  .header-search-result {
    width: 83.4%;
    padding: 5px;
  }

  .clients-inner-actions__wrap {
    display: block;
  }

  .clients-action-buttons {
    margin: 0;
  }

  .clients__table {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .clients-fullname__title {
    width: 49%;
  }

  .modal {
    width: 94%;
    padding-top: 10px;
  }

  .modal-close__btn {
    top: 10px;
    right: 10px;
  }

  .clients__table {
    margin: 0;
    min-width: 768px;
  }

  .header-search__input {
    display: none;
    margin-left: 20px;
    padding-left: 18px;
    height: 29px;
    width: 75%;
    font-size: 10px;
  }

  ::placeholder {
    font-size: 10px;
  }

  .header__wrapper {
    padding: 8px;
    justify-content: center;
  }

  .header__wrapper.is-active {
    justify-content: start;
  }

  .header-search__input.is-active {
    display: block;
  }

  .header-search-result {
    width: 76.5%;
    top: 42px;
    left: 61px;
    padding: 0;
  }

  .header__logo {
    height: 32px;
    margin-right: 0;
    cursor: pointer;
  }

  .header-btn-delete {
    height: 33px;
  }

  .preloader__icon {
    border: 4px solid;
    border-color: transparent var(--heliotrope) var(--heliotrope);
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }

  .newclient-modal-contacts {
    margin: 0px;
    width: 100%;
  }

  .newclient-modal-contact__wrap {
    font-size: 12px;
    width: 100%;
  }

  .newclient-modal-contacts__wrap.is-active {
    padding-left: 15px;
    padding-right: 15px;
  }

  .newclient-modal-title__wrap {
    margin-top: 10px;
    margin-left: 15px;
  }

  .newclient-modal-contact__select {
    width: 40%;
  }

  .newclient-modal-contact__input {
    width: 55%;
  }

  .newclient-modal-contacts.overflow {
    height: 120px;
  }

  .newclient-modal-contact-delete__btn {
    width: 9%;
  }

  .modal-input__wrap {
    margin-left: 15px;
  }

  .client-card-contact__descr {
    width: 30%;
  }
}
